{%extends "/tpl/errors/main.twig"%}

{%block header%}403 - ACCESS DENIED{%endblock%}
{%block content%}
<p>
<img src='http://kotomail.ru/sites/kotomail.ru/files/images/20111612194953.jpg' />
</p>
{%if desc is defined%}<p>{{desc}}</p>{%endif%}
{%endblock%}