{%extends "/tpl/html/menus/menus.twig"%}

{%block header%}Новости{%endblock%}

{%block content%}
<h4>Жаба съела черепаху на Примари сервере</h4>
<p>
Video
</p>
<hr />
<h4>На сайте появился микроблог</h4>
<p>
Вчера на сайте появился микроблог. Подробности под катом.
</p>
<hr />
{%endblock%}