body
{
	margin: 0px;
	background: url('http://static.tumblr.com/qfn3sex/ezom7y7iq/bg_main.png');
	height: 100%;
	font: 15px Arial/*14px Helvetica, Arial, sans-serif*/;
}

a
{
	text-decoration: underline;
	color: #0088cc;/*#21759B;*/
}

a:hover
{
	color: #005580;
	text-decoration: underline;
}

html
{
	height: 100%;
}


textarea
{
	border: solid 1px #E5E5E5;
	resize: vertical;
	background-image: url('http://178.140.61.70:8080/themes/dirt/images/background/slashes1.png');
}

.main_table
{
	width: 1100px; 
	margin: 0px auto;
	height: 100%;
	border-collapse: collapse;
}

.hat
{
	padding: 0px;
}

.branches
{
	border-bottom: solid 1px #ddd;
	*display: none;
}

.menu
{
	width: 240px;
	max-width: 240px;
	overflow: hidden;
	padding-top: 4px;
}

.content
{
	height: 100%;
	max-width: 612px;
	overflow: hidden;
	border-left: solid 1px #ddd;
	border-right: solid 1px #ddd; 
}

.header
{
	width: 100%;
	margin: 0px;
	background: #ddd;
}

.header h1
{
	margin: 0px;
}

.ads
{
	width: 240px;
	max-width: 240px;
	overflow: hidden;
	padding-top: 4px;
}

.footer
{
	
}

.copyright
{
	width: 400px; 
	padding: 5px; 
	margin: 5px; 
	border-radius: 5px;
	background-image: url('http://178.140.61.70:8080/themes/dirt/images/background/lite1.png');
}

.slogan
{
	position: absolute; 
	left: 5px; 
	top: 164px; 
	padding: 4px; 
	border-radius: 5px;
}

.logo
{
	position: absolute; 
	width: 800px; 
	cursor: pointer; 
	top: 65px; 
	left: 5%;
}

.groups
{
	position: absolute; 
	top: 177px; 
	right: 0px; 
	width: 233px; 
	padding: 4px; 
	border-radius: 9px 0 0;
}

.groups img
{
	cursor: pointer;
}

.button_panel_reg
{
	cursor: pointer;
	position: absolute; 
	top: 81px; 
	left: 80px; 
	width: 154px; 
	height: 27px;
}

.button_panel_restore
{
	top: 112px; 
}

.button_panel_login
{
	margin: 3px; 
	padding: 19px 14px;
	cursor: pointer;
	height: 58px;
}

.button_panel_mail_pass
{
	width: 223px;
}

.panel_login
{
	position: absolute; 
	right: 0px; 
	width: 233px; 
	padding: 4px; 
	border-radius: 0 9px;
}

.button_panel_search
{
	margin: 2px 0 0 -15px;
	padding: 6px 5px 7px;
	width: 48px;
	height: 33px;
}

.panel_search
{
	position: absolute; 
	width: 100%; 
	padding: 4px;
}

.hat_div
{
	height: 210px; 
	position: relative; 
	overflow: hidden; 
}