.menu_header
{
	background: #f89406;  
	color: #ffffff;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); 
	border: solid 1px;
	border-color: #f89406 #f89406 #ad6704; 
	border-radius: 5px 5px 0 0; 
	padding: 4px;
}

.menu_content
{
	border-radius: 0 0 5px 5px; 
	padding: 4px; 
	border: solid 1px; 
	border-color:#f89406 #f89406 #ad6704;
	margin-bottom:12px;
	background: #ffffff;
}

.menu_content a:link
{
	text-decoration: none;
	color: #21759B;
}

.menu_content a:visited
{
	text-decoration: none;
	/*color: #035e0a;*/
	color: #21759B;
}

.menu_content a:hover
{
	text-decoration: underline;
	background-color: #efefef;
}

.menu_content a:active
{
	text-decoration: underline;
}

.menu_content .a:hover
{
	background-color: #EFEFEF;
}

.menu_content .a
{
	padding: 4px;
}
