.menu_header
{
	border: solid 1px;
	border-radius: 5px 5px 0 0; 
	padding: 4px;
}

.menu_content
{
	border-radius: 0 0 5px 5px; 
	padding: 4px; 
	border: solid 1px; 
	margin-bottom:12px;
	background: #ffffff;
}

.menu_header_orange
{
	background: #f89406;
	color: #ffffff;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); 
	border-color: #f89406 #f89406 #ad6704; 
}

.menu_content_orange
{
	border-color:#f89406 #f89406 #ad6704;
	background: #ffffff;
}

.menu_header_grey
{
	background: #A2A19F;
	color: #ffffff;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); 
	border-color: #E4E3E2 #E4E3E2 #666563; 
}

.menu_content_blue
{
	border-color: #0509F8 #0509F8 #030CAE; 
	background: #ffffff;
}

.menu_header_blue
{
	background: #0905F8;
	color: #ffffff;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); 
	border-color: #0509F8 #0509F8 #030CAE; 
}

.menu_content_grey
{
	border-color:#E4E3E2 #E4E3E2 #666563;
	background: #ffffff;
}
/*
.menu_content a:link
{
	text-decoration: none;
	color: #21759B;
}

.menu_content a:visited
{
	text-decoration: none;
	/*color: #035e0a;*//*
	color: #21759B;
}

.menu_content a:hover
{
	text-decoration: underline;
	background-color: #efefef;
}

.menu_content a:active
{
	text-decoration: underline;
}

.menu_content .a:hover
{
	background-color: #EFEFEF;
}

.menu_content .a
{
	padding: 4px;
}*/

.menu_content .a
{
	padding: 4px;
}

.menu_content .a:hover
{
	background-color: #EFEFEF;
}

.menu_content a
{
	color: #0088cc;
	text-decoration: none;
}

.menu_content a:hover
{
	color: #005580; 
	text-decoration: underline;
}