{%extends "/html/menus/menus.twig"%}

{%block header%}Группа VK{%endblock%}

{%block content%}
<center>
<script type="text/javascript" src="//vk.com/js/api/openapi.js?97"></script>

<!-- VK Widget -->
<div id="vk_groups"></div>
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 1, width: "220", height: "400", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 38551210);
</script>
</center>
{%endblock%}