{%extends SYS.BASE~"main.twig"%}

{%block title%}Документация{{parent()}}{%endblock%}

{%block header%}<li><a href="{{MAIN.ROOT}}docs">Документация</a></li>
    <li>API</li> <li class="active">Плагины</li>{%endblock%}

{%block content%}
    <h3>№1. Основа</h3>
    <p>
        Для начала необходимо перейти в папку с плагинами (<code><b>PROJECT</b>/api/system/plugins</code>).
    </p>
    <p>
        После создаём папку, например, <code>example</code> (название папки может не совпадать с названием плагина,
         но, желательно, чтобы совпадала).
        <div class="alert alert-warning">
            Название папки не должно быть таким:
            <ul>
                <li>
                    libs
                </li>
                <li>
                    system
                </li>
                <li>
                    core
                </li>
                <li>
                    plugin
                </li>
                <li>
                    plugins
                </li>
                <li>
                    api
                </li>
            </ul>
        </div>
    </p>
    <p>
        Далее входим в папку и создаём еще несколько: <code>api</code>, <code>confs</code>,
        <code>core</code> - и файл <code>main</code>.
    </p>
    <p>
        Открываем файл <code>main</code> и пишем:
        <pre>{
	"author":"Автор",
	"version":"1.0_alpha",
	"web":"",
	"name":"example",
	"title":"Тестовый плагин",
	"loadClass":"",
	"description":"Плагин для туториала",
	"confs":
	{

	},
	"api":
	[
		"example"
	],
	"requires":
	[
		"user"
	]
}</pre>
        Сохраняем. Это основа нашего плагина.
    </p>
    <h3>№2. Hello, %username%!</h3>
    <p>
        Далее заходим в <code>api</code> и создаём <code>example.class.php</code>, открываем, пишем:
<pre>&lt;?php
class api_example extends api
{
	public function init()
	{
       #$this->functions['act']='function';
        $this->functions['hello']='helloFunction';
	}

	protected function helloFunction()
	{
        $this->input('name');
        return $this->json(array("Hello, ".$this->data['name']."!"));
    }
}</pre>
    </p>
    <p>
        Теперь обратитесь к API:
        <code>http://project.domain/api/?v=4&method=example.hello&data={"name":"World"}&sid=somesid</code>
    </p>
{%endblock%}