{%extends SYS.BASE~"main.twig"%}

{%block title%}Документация{{parent()}}{%endblock%}

{%block header%}<li><a href="{{MAIN.ROOT}}docs">Документация</a></li>
    <li>Клиент</li> <li class="active">Плагины</li>{%endblock%}

{%block content%}
    <h3>№1. Основа</h3>
    <p>
        Для начала необходимо перейти в папку с плагинами (<code><b>PROJECT</b>/system/plugins</code>).
    </p>
    <p>
        После создаём папку, например, <code>example</code> (название папки <b>обязательно должно</b> совпадать с названием плагина).
    </p>
    <p>
        Далее входим в папку и создаём еще несколько: <code>confs</code>, <code>pages</code>,
        <code>system</code>, <code>tpl</code>.
    </p>
    <p>
        В папке <code>confs</code> создаём файл <code>pages</code> и пишем:
    <pre>["example.php"]</pre>
    Сохраняем.
    </p>
    <p>
        В папке <code>system</code> создаём файл <code>include.php</code> и пишем:
    <pre>&lt;?php
$core->rules[] = array('^example/(.*?)$','example.php', array('getvar'=>'$1'),array('plugin'=>'example'));</pre>
    Сохраняем.
    </p>
    <p>
        В папке <code>pages</code> создаём файл <code>example.php</code> и пишем:
    <pre>&lt;?php
if(!defined('CE_HUB'))die('403');
$core->render['hello'] = $core->f->sanString($_GET['getvar']);
$core->f->show('main','example');</pre>
    Сохраняем.
    </p>
    <p>
        В папке <code>tpl</code> создаём файл <code>main.twig</code> и пишем:
    <pre>&#123;%extends SYS.BASE~"main.twig"%}

&#123;%block title%}Пример&#123;{parent()}}&#123;%endblock%}
&#123;%block header%}&lt;li>&lt;a href="&#123;{MAIN.ROOT}}">Корень&lt;/a>&lt;/li>
&lt;li>API&lt;/li> &lt;li class="active">Пример&lt;/li>&#123;%endblock%}

&#123;%block content%}
Hello, &#123;{hello}}
&#123;%endblock%}</pre>
    Сохраняем. Это основа нашего плагина.
    </p>

    <h3>№2. Активация</h3>
    <p>
        Теперь надо включить плагин. Для этого открываем файл <code><b>PROJECT</b>/system/confs/plugins</code>
        и дописываем: <pre>["какие-то плагины","example"]</pre>
    </p>
{%endblock%}