{%extends SYS.BASE~"main.twig"%}

{%block title%}403 - ACCESS DENIED {{parent()}}{%endblock%}
{%block header%}<li class="active">403 - ACCESS DENIED</li>{%endblock%}
{%block content%}
<p>
<img src='http://kotomail.ru/sites/kotomail.ru/files/images/20111612194953.jpg' />
</p>
{%if desc is defined%}<p>{{desc}}</p>{%endif%}
{%endblock%}