{%extends SYS.BASE~"main.twig"%}

{%block title%}404 - NOT FOUND {{parent()}}{%endblock%}
{%block header%}<li class="active">404 - NOT FOUND</li>{%endblock%}
{%block content%}
<p>
<img src='http://farm8.staticflickr.com/7172/6508022985_b7862b580a_o.jpg' />
</p>
{%if desc is defined%}<p>{{desc}}</p>{%endif%}
{%endblock%}