{%extends SYS.BASE~"main.twig"%}

{%block title%}500 - INTERNAL SERVER ERROR {{parent()}}{%endblock%}
{%block header%}<li class="active">500 - INTERNAL SERVER ERROR</li>{%endblock%}
{%block content%}
<p>
<img src='http://farm8.staticflickr.com/7001/6509400855_aaaf915871_z.jpg' />
</p>
{%if desc is defined%}<p>{{desc}}</p>{%endif%}
{%endblock%}