{%extends "html/main.twig"%}

{%block title%}Скачать фреймворк {{parent()}}{%endblock%}
{%block header%}<li class="active">Скачать фреймворк</li>{%endblock%}

{%block content%}
<div class="row alert alert-info">
<div class="col-md-3">
<b>Название</b>
</div>
<div class="col-md-2">
<b>Версия ядра</b>
</div>
<div class="col-md-3">
<b>Описание</b>
</div>
<div class="col-md-4">
<b>Скачать</b>
</div>
</div>

<div class="row alert alert-danger">
<div class="col-md-3">
Standart Edition
</div>
<div class="col-md-2">
0.1.5_alpha
</div>
<div class="col-md-3">
Ничего лишнего. Только ядро и клиент.
</div>
<div class="col-md-4">
<a class="alert-link">Download</a>
(Unavailable)
</div>

</div>
<div class="row alert alert-success">
<div class="col-md-3">
Minecraft Edition
</div>
<div class="col-md-2">
0.1.5_alpha
</div>
<div class="col-md-3">
Плагины: users, articles. Модифицированный под плагины клиент. Интергация плагина users с Bukkit плагином AuthMe.
</div>
<div class="col-md-4">
<a class="alert-link" href="{{MAIN.ROOT_HTTP}}files/downloads/me/1.1.zip">Download</a>
(20.09.13 13.30)
</div>
</div>
{%endblock%}