{%extends "html/main.twig"%}

{%block title%}Скачать фреймворк {{parent()}}{%endblock%}
{%block header%}<li class="active">Скачать фреймворк</li>{%endblock%}

{%block content%}
<div class="row">
<div class="col-md-3">
Name
</div>
<div class="col-md-3">
Core version
</div>
<div class="col-md-3">
Plugins
</div>
<div class="col-md-3">
Link
</div>
</div>

<div class="row">
<div class="col-md-3">
Standart
</div>
<div class="col-md-3">
0.1.5_alpha
</div>
<div class="col-md-3">

</div>
<div class="col-md-3">
Download
</div>

</div>
<div class="row">
<div class="col-md-3">
Minecraft Edition
</div>
<div class="col-md-3">
0.1.5_alpha
</div>
<div class="col-md-3">
users, articles
</div>
<div class="col-md-3">
<a href="{{MAIN.ROOT_HTTP}}/files/downloads/me/1.0.zip">Download</a>
(20.09.13&nbsp;13.30)
</div>
</div>
{%endblock%}