ErrorDocument 404 /php/errors.php?code=404
ErrorDocument 403 /php/errors.php?code=403
ErrorDocument 500 /php/errors.php?code=500
AddType application/octet-stream .rar .doc .mov .avi .pdf .xls .mp4 .jar .bat
AddType application/x-httpd-php .php
AddDefaultCharset utf-8
DefaultLanguage ru-RU
ServerSignature Off
#php_flag display_errors off
php_flag display_errors on
php_value upload_max_filesize 32M
#php_value user_agent “Mozilla/4.0 (compatible; MSIE 6.0; Windows NT 5.1)”

Options All -ExecCGI -Indexes -Includes +FollowSymLinks

<ifModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml application/xhtml+xml text/css text/javascript application/javascript application/x-javascript application/json
</ifModule>

RewriteEngine on

#RewriteRule ^index.php$ articles.php [L]

RewriteRule ^articles$ articles.php?act=posts&page=1 [L]
RewriteRule ^articles/page-([0-9]*)$ articles.php?act=posts&page=$1 [L]
#RewriteRule ^article([0-9]*)_([0-9]*)$ articles.php?act=post&user_id=$1&post_id=$2 [L]
RewriteRule ^articles/([0-9]*)/([0-9]*)$ articles.php?act=post&user_id=$1&post_id=$2 [L]
RewriteRule ^articles/confirm/page-([0-9]*)$ articles.php?act=confirm&page=$1 [L]
RewriteRule ^articles/([a-z]*)$ articles.php?act=$1 [L]

RewriteRule ^logout$ login.php?act=logout [L]

RewriteRule ^login/restore$ login.php?act=restore [L]
RewriteRule ^login/confirm$ login.php?act=confirm [L]
RewriteRule ^login/confirm/([a-z0-9]*)$ login.php?act=confirm&code=$1 [L]

RewriteRule ^users$ users/page-1 [L]
RewriteRule ^users/page-([0-9]+)$ users.php?act=all&page=$1 [L]
RewriteRule ^users/id([0-9]*)$ users.php?act=user&id=$1 [L]
RewriteRule ^users/confirm$ users.php?act=confirm&page=1 [L]
RewriteRule ^users/confirm/page-([0-9]*)$ users.php?act=confirm&page=$1 [L]
RewriteRule ^users/([A-Za-z0-9_]+)$ users.php?act=user&login=$1 [L]

RewriteRule ^(([^/]+/)*[^.]+)$ $1.php [L]
