{%extends SYS.BASE~SYS.BASE_TPL%}

{%block title%}Главная {{parent()}}{%endblock%}
{%block header%}<li class="active">Главная</li>{%endblock%}

{%block content%}
<h3>Documentation</h3>
<p>
<a href="http://kcraft.su/docs">Здеся :з</a>
</p>

<h3>Changelog</h3>
<p>
<pre>
[###]		Версия API
[SYS]		Изменения во всей системе
[API]		Изменения в API и ядре
[USR]		Изменения в клиенте
[ETC]		Что-то отдельное от системы
[FIX]		Фикс проблемы

[###]		0.0.1_alpha
[API]		Создана заготовка
[FIX]		Исправлена проблема с обратным слешем при занесении в БД. Теперь он не пропадает.

[###]		0.0.2_alpha
[API][SYS]	Добавлены плагины
[SYS]		Написан небольшой шаблонизатор
[API]		Изменён алгоритм обращения
[USR]		Разрабатывается дизайн
[USR]		Добавлены станицы ошибок

[###]		0.0.3_alpha
[FIX][SYS]	Устранена sql уязвимость.

[###]		0.1.0_alpha
[API]		Изменён алгоритм подключения плагинов и конфигов

[###]		0.1.1_alpha
[FIX]		Фикс некоторых проблем после изменения алгоритма

[###]		0.1.2_alpha
[SYS]		Сделано сохранение конфигураций. Оптимизирован механизм загрузки плагинов
[USR]		Клиент обновлён до версии v1.2 closed alpha. Добавлена панель подключения/отключения плагинов

[###]		0.1.3_alpha
[ETC]		Начато ведение changelog
[SYS]		Изменена структура системы
[FIX][API][USR]	Ошибка при отсутствии пользователей в БД
[FIX][SYS]	Ядро вызывается только один раз
[ETC]		Удалены лишние комментарии
[SYS]		Часть кода задокументирована с помощью PHPDoc
[FIX][USR]	Фикс ссылок в клиенте
[API][SYS]	Запрет на повторный вызов ядра
[SYS]		Вызов ядра перенесён в класс API
[FIX][SYS]	Исправлена проблема с неправильным отображением места ошибки mysql
[SYS][API]	При попытке повтроного вызова ядра код завершает работу
[FIX][SYS]	Ошибка при отсутствии плагинов
[SYS]		Каптча вынесена в отдельный плагин
[FIX][SYS]	Ошибки в if условиях в plugin модуле

[###]		0.1.4_alpha
[SYS]		Удалён модуль menu.class.php
[SYS][API]	Улучшена система подсчёта время выполнения скрипта
[SYS]		Добавлена возможность ставить временнЫе метки
[SYS][API]	Добавлен подсчёт времени на другие операции
[SYS][FIX]	Конфигурации плагина user вынесены из конфига core
[USR]		Добавлен показатель, сколько процентов времени занял процесс
[ETC]		Мониторинг задокументирован и обновлён до версии v2.1
[ETC][SYS]	Удалён старый закомментированный код
[SYS][API]	Изменён алгоритм создания ошибок
[SYS]		Описания ошибок вынесены в отдельный файл
[SYS][FIX]	функция include_once() заменена функцией require_once()
[FIX][SYS]	Исправлен косяк в выводе пути, в котором произошла ошибка
[SYS]		Сортировка плагинов в алфавитном порядке по названию папок
[FIX]		Исправлена пробема с конфигом ошибок
[API]		Изменён вывод ошибок
[ETC]		Исправлена проблема с мониторингом
[SYS][USR]	В случает нахождения критического эксплоита, все движки блокируются в течение 10 минут
[USR]		Полностью переписано ядро клиента.

[###]		0.1.5_alpha
[FIX][USR]	Array to string convertion error
[SYS]		Сбор статистики
[SYS]		Добалена автоотправка email
[USR]		Обработка всех страниц через index.php
[FIX][API]	Перенос модулей api по умолчанию в папку /system/api
[FIX][API]	blacklist, preg->mail и preg() теперь в плагине users
[USR]		Теперь есть разделение на плагины
[FIX][USR]	Подправлены шаблоны. Bootstarap вынесен в папку /style
[USR]		Добавлена возможность редактировать статьи
[SYS]		Добавлена поддержка нескольких режимов регистрации
[ETC]		Добавлен инсталлятор
[USR][FIX]	Исправлен неработающий модуль статей
[API]		Добавлена загрузка файлов
[USR][FIX]	Исправлены проблемы с пустыми массивами в циклах

[###]		0.1.6_alpha
[API]		Добавлена первая версия капчи
[USR]		Добавлена капча при регистрации
[API][FIX]	Фикс в чёрным списком паролей
[USR]		Переделан шаблон модуля регистрации
[SYS][FIX]	Header error
[API]		Добавлено восстановление пароля
[SYS]		Ссылки на установленные соединения с БД
[SYS][FIX]	Исправлена проблема с индексами в кеше статы
[SYS]		Теперь время по умолчанию в GMT
[SYS]		Добавлена функции для работы с датами
[SYS]		Добавлена функция для нахождения последнего вызова в стаке(и не только последнего)
[SYS]		Добавлена функция для проверки версии ядра
[SYS][FIX]	Проблема с регистрацией

[###]		0.1.7_alpha
[SYS]		Добавлены функции OnEnable() и OnDisable() для плагинов
[SYS][FIX]	При отсутствии Requires, как подключенных, плагин не удаляется из списка активированных
[USR]		Изменён шаблон plugins.php
[USR][FIX]	Решена проблема с header скриптов

[###]		0.2.0_alpha
[USR]		Графическое представление загруженности ядра
[SYS]		Добавлены сойства при инициализации ядра
[SYS][FIX]	Частая отправка почты
[SYS]		Одно ядро на несколько проектов
[SYS][FIX]	Нельзя пользоваться _SESSION в прелоадерах плагинов
[API][SYS]	API обновлён до версии 4
[FIX]		Исправлена проблема с вызовом system-scripts на сайтах с доменом
[SYS]		Добавлены настройки для system-scripts

[###]		0.2.1_alpha
[SYS][FIX]	Справлена проблема с вызовом system-scripts, лежащих в нестандартном месте
[SYS][FIX]	Решена проблема с сессиями

[###]		0.2.2_alpha
[SYS]		Сломана обратная совместимость с PHP 5.3
[SYS][API]	Добавлен параметр title для плагинов
[SYS]		Улучшен класс file.class.php
[FIX][SYS]	Добавлен параметр from для mail в конфигурациях
[SYS]		Изменены названия многих функций ядра
[SYS][USR]	Technical Works
[SYS]		Изменён способ загрузки модулей ядра
[FIX][SYS]	Увеличина стабильность ядра
[SYS]		Конфиг подключения к БД теперь содержит ключи
[SYS]		Функция sanString может обрабатывать массивы вплодь до 10 вложенностей
[FIX][USR]	Устранены XSS уязвимости в клиенте

[###]		0.2.3_alpha
[API]		Добавлен стак вызовов
[SYS]		Функция lastCall принимает параметр $count=0 для всего стака
[SYS]		Немного изменён формат версии
[SYS]		Добавлена функция парсинга версии
[ETC]		Установщик обновлён до версии 2
[USR]		Добавлена возможность разноса ядра и настроек

[###]		0.2.4a1_alpha
[SYS]		Добавлена функция getEditConfs, которая предоставляет конфиги плагинов

[###]		0.2.4a2_alpha
[SYS][API]	Добавлена выдача конфигов плагинов по маске
[USR]		Добавлена админ панель

[###]		0.2.4a3_alpha
[SYS][API]	Добавлены параметры post,status_code для API
[SYS][API][FIX]	Исправлена проблема с модулем plugins
[SYS]		Добавлена функция setEditConfs, которая сохраняет конфиги плагинов
[USR]		Исправлены проблемы с выводом конфигов

[###]		0.2.4a4_alpha
[SYS][FIX]	Добавлена фильтрация session ID
[SYS][FIX]	Исправлена капча
[SYS][FIX]	Исправлен белый список mail domains в плагине user

[###]		0.2.4a5_alpha
[SYS][FIX]	Исправлена капча
[SYS][FIX]	Исправлена обработка session ID

[###]		0.2.4a6_alpha
[USR]		Изменена структура ядра клиента
[USR]		Добавлена возможность добавлять темы
[USR]		Произведена реструктуризация шаблонов, ядра
[SYS]		Произведена реструктуризация ядра
[API]		Убран модуль plugins
[USR]		Добавлена возможность редактировать конфигурации ядра клиента
[USR]		Добавлена защита админ панели по IP

[###]		0.2.4a7_alpha
[FIX]		Устанена проблема с почтовыми письмами
[SYS]		Добавлена защита модуля system по IP
[USR][FIX]	Исправлены иконки
[FIX]		Исправлена проблема с проверкой пароля в плагине user
[USR][FIX]	Исправлена функция msg
[USR]		Незначительно изменён дизайн

[###]		0.2.5a1_alpha
[USR][ETC]	Версия клиента v2.0
[USR]		Упрощена установка тем
[USR][FIX]	Исправлена проблема с mime_content_type
[USR][FIX]	Подвал пижат к низу страницы
[USR]		Изменено немного оформление
[USR]		Добавлена кастомная функция mime_content_type
[USR]		Изменен алгоритм написания реврайтов в ЧПУ
[SYS]		Добавлена возможность создания событий плагинов с передачей информации для модификации
[SYS]		Движок вынесен из golbal namespace в CRAFTEngine namespace

[###]		0.2.5a2_alpha
[USR][ETC]	Версия клиента v2.1
[SYS]		Добавлен параметр since для плагинов
[USR]		Добавлен выбор оформления
[USR]		Файлы конфигураций с расширением
[USR]		Добавлена возможность создания событий плагинов с передачей информации для модификации
[USR]		Админ панель вынесена, как плагин
[USR]		добавлена обработка фатальных ошибок(register_shutdown_function)

[###]		0.2.5a3_alpha
[SYS]		Изменён способ возврата информации в API
[SYS]		Добавлена функция pathBuilder
[API]		API обновлён до версии 5 и теперь имеет такой формат: /v5/plugin/module/method/123456/{"some":"data"}?type=GET
[USR]		Клиент обновлён до v2.2
[USR]		Сжат вывод дебага
[USR][FIX]	Если API недоступен, клиент продолжает работу
[USR][SYS][FIX]	Исправлена и доработана загрузка файлов
[SYS]		При нескольких копиях одного плагина выводится предупреждение
[USR]		Начата работа над виджетами

[###]		0.2.5a4_alpha
[USR]		Клиент обновлён до v2.3
[USR]		Добавлены виджеты и управление ими
[USR]		Улучшена работа с меню

[###]		0.3.0b1_alpha
[USR]		Клиент обновлён до v3.0
[USR][FIX]	Конфиги плагинов API
[USR][FIX]	Убрана опция "Оформление" из настроек ядра клиента
[USR][FIX]	Исправлена проблема с админкой
[USR][FIX]	Теперь confs/pages не нужен

[###]		0.3.0b2_alpha
[USR]		Клиент обновлён до v3.1
[SYS][FIX]	Исправлена статистика
[USR][FIX]	Иправлена админка
[SYS][FIX]	Передача всех params в upload.php
[SYS][FIX]	Исправен Uncaught exception в mysql.class.php
[SYS]		Добавлены комментарии
[USR][FIX]	JSON_UNESCAPED_UNICODE для confs->set()
[USR]		Включен autoescape для всех шаблонов
[SYS]		Выключено экранирование html

[###]		0.3.0b3_alpha
[SYS]		Произведена реструктуризация
[SYS]		Создан системный модуль utilities
[SYS]		Создана функция arrayKeyExists
[SYS]		Добавлена миграция БД
[SYS]		Добавлнеа единая отчка входа для system-scripts
[SYS][FIX]	Мелкие фиксы
[SYS]		Добавлены данные для миграции
[USR]		Небольшие изменения в дизайне
[SYS]		Изменены названия таблиц
[USR][FIX]	Восстановлено меню в навигационном баре
[USR]		Навигационный бар прикреплен к верху страницы
[SYS][FIX]	Пустые письма
[ETC]		Начата разработка более гибкого плагина users
</pre>
</p>
{%endblock%}