{%extends "/tpl/html/main.twig"%}

{%block title%}Новости {{parent()}}{%endblock%}
{%block header%}
{%if SYS.LOGGEDIN%}
<li class="active">
<div style="position: relative; top: 4px;">
<form action="{{MAIN.ROOT_HTTP}}articles/new">
<button title="Добавить статью" class="btn btn-success" style="position: absolute; margin: 0 5px;">
+
</button>
</form>
<form action="{{MAIN.ROOT_HTTP}}articles/confirm">
<button title="Модерация статей" class="btn btn-info" style="position: absolute; left: 37px; width: 76px; margin: 0 5px;">
+0
</button>
</form>
<div style="/*margin: -32px 0 0 46px;*/ margin-left: 120px;">Новости</div>
</div>
</li>
{%else%}
<li class="active">
Новости
</li>
{%endif%}
{%endblock%}

{%block content%}
{%for post in posts%}
{%include "/plugins/articles/tpl/articles/instance.twig"%}
{%endfor%}

{%endblock%}