{%extends SYS.BASE~SYS.BASE_TPL%}

{%block title%}Новости {{parent()}}{%endblock%}
{%block header%}
{%if SYS.LOGGEDIN%}
<li class="active">
<div style="position: relative; top: 4px;">
<form action="{{MAIN.ROOT_HTTP}}articles/new">
<button title="Добавить статью" class="btn btn-success" style="position: absolute; margin: -9px 5px 3px -10px;">
+
</button>
</form>
<div style="/*margin: -32px 0 0 46px;*/ margin-left: 40px;">Новости</div>
</div>
</li>
{%else%}
<li class="active">
Новости
</li>
{%endif%}
{%endblock%}

{%block content%}
{%for post in posts%}
{%include "/plugins/articles/tpl/articles/instance.twig"%}
{%endfor%}

{%endblock%}